body {

background-image: url(./bg.jpg);
background-size: 100% auto;
background-position: top;
background-repeat: no-repeat;
background-color: #060A0D;

}



.section-games {


}




.section-canais {



}

.minhas-redes {




}

