body {


background-size: 100% auto;
background-position: top;
background-repeat: no-repeat;
background-image: linear-gradient(90deg, #24063C 0%, #4F0F7F 50.52%, #400966 100%);

}

body * {
font-family: 'Inter', sans-serif;
line-height: 160%;
}

main {
max-width: 580px;
width: 90%;
margin: auto;
display: flex;
flex-direction: column;
gap: 24px;
margin-top: 32%;
}



ul {
list-style: none;

}

section ul {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
   margin-top: 24px;


}

h2 {
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
    color: white;

}

p {
font-weight: 400;
font-size: 16px;
letter-spacing: -0.18px;
color: #A1A1AA;

}


.game-list img {
width: 90px;
border-radius: 16px;


}

.section-canais img {
width: 70px;
border-radius: 50%;

}

section div {
background-color: #411D5A;
padding: 32px;
padding-top: 24px;
border-radius: 8px;


}

section {
background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
padding-top: 4px;
border-radius: 10px;

}

header img {

width: 120px;

}

header {
    margin-top: 32px;
    text-align: center;
    margin-bottom: 32px;

}